body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start ReactOrgChart CSS */
.initechNode {
  padding: 5px;
  width: 150px;
  display: inline-block;
}
.initechNode img {
 border-radius: 50%; 
}

#initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 3px red
}

#initechOrgChart .nodeLineBorderTop {
  border-top: solid 3px red;
}
.text-btn {
  cursor: pointer;
  margin: 0 4px;
}

/* end ReactOrgChart CSS */